// Colors
$darkGreyColor: #5d5d5d;
$redColor: #ab0613;
$redColorFF00: #ff0000;
$whiteColor: #fff;
$blackColor: #000;
$greenColor: #437223;
$blueColor: #115ca8;
$greyLightColor: #ededed;
$facebookColor: #4d6bab;
$twitterColor: #00acee;
$emailColor: #dc5565;
$linkedinColor: #0077b5;
$youtubeColor: #e21c29;
$googleplusColor: #dd4b39;
$colora3a: #a3a3a6;