// Spacing
$space0: 0;
$space01em: 0.1em;
$space02em: 0.2em;
$space03em: 0.3em;
$space04em: 0.4em;
$space05em: 0.5em;
$space06em: 0.6em;
$space065em: 0.65em;
$space067em: 0.67em;
$space07em: 0.7em;
$space08em: 0.8em;
$space085em: 0.85em;
$space09em: 0.9em;
$space1em: 1em;
$space13em: 1.3em;
$space14em: 1.4em;
$space15em: 1.5em;
$space16em: 1.6em;
$space17em: 1.7em;
$space2em: 2em;
$space25em: 2.5em;
$space23em: 2.3em;
$lineHeight1: 1;
$lineHeight11: 1.1;
$lineHeight12: 1.2;
$lineHeight125: 1.25;
$lineHeight13: 1.3;
$lineHeight14: 1.4;
$lineHeight15: 1.5;
$lineHeight16: 1.6;
$lineHeight17: 1.7;
$lineHeight35: 3.5;
$lineHeight2: 2;
$lineHeight22: 2.2;
$lineHeight23: 2.3;
$lineHeight24: 2.4;
$lineHeight25: 2.5;
$space50: 50px;
$space40: 40px;
$space30: 30px;
$space35: 35px;
$space10: 10px;
$space5: 5px;
$space2: 2px;
$space1: 1px;
$space20: 20px;
$marginMinus10: -10px;
$space100Per: 100%;

// Breakpoints
$mobile370: 370px;
$mobileSm: 575px;
$mobile: 767px;
$ipad: 991px;
$tablet: 1199px;